body {
    font-family: 'Poppins', sans-serif;
    color: #333333;
    background-image: url('../images/night-landscape.avif');
    background-position: bottom;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    background-color: rgba(255, 252, 252, 0.3);
}

header .logo {
    width: 37px;
}

header .logo, 
header .imagem-botao {
    transition: 1s ease-in-out;
}

header #botao-alterar-tema {
    width: 43px;
    background: none;
    border: none;
}

header .imagem-botao {
    width: 43px;
}

header .logo:hover, 
header .imagem-botao:hover {
    transform: scale(1.07);
    cursor: pointer;
}

main {
    padding: 40px;
    max-width: 100%;
    padding: auto;
    background-color: rgba(247, 247, 103, 0.15);
}

.listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pokemon {
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 12px;
    transition: 0.2s ease-in-out;

    background-color: #d8e3ec;
    background: linear-gradient(#9da6aa, #d8e3ec, #b0b8be);
    background: -moz-linear-gradient(#9da6aa, #d8e3ec, #b0b8be);
    background: -o-linear-gradient(#9da6aa, #d8e3ec, #b0b8be);
    background: -webkit-linear-gradient(#9da6aa, #d8e3ec, #b0b8be);
}

.cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;

    background-color:#a4b6f3;
    background: linear-gradient(#8b969b, #adbef5, #728c97);
    background: -moz-linear-gradient(#8b969b, #adbef5, #728c97);
    background: -o-linear-gradient(#8b969b, #adbef5, #728c97);
    background: -webkit-linear-gradient(#8b969b, #adbef5, #728c97);
    /* background: -webkit-linear-gradient(#568f97, #a3dbe4, #60a3ad);  */
}

.cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 8px;
    padding-inline: 5px;

    background-color: #dae6f0;
    background: linear-gradient(#989ea1, #c3d4e2, #adb4b9);
    background: -moz-linear-gradient(#989ea1, #c3d4e2, #adb4b9);
    background: -o-linear-gradient(#989ea1, #c3d4e2, #adb4b9);
    background: -webkit-linear-gradient(#989ea1, #c3d4e2, #adb4b9);
}

.cartao-pokemon:hover .informacoes {
    background-color:#a4b6f3;
    background: linear-gradient(#8b969b, #a4b6f3, #8da6af);
    background: -moz-linear-gradient(#8b969b, #a4b6f3, #8da6af);
    background: -o-linear-gradient(#8b969b, #a4b6f3, #8da6af);
    background: -webkit-linear-gradient(#8b969b, #a4b6f3, #8da6af);
    /* background: -webkit-linear-gradient(#589096, #8ad5e2, #64a2ac);  */
}

.cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

.cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

.cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

.cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 8px;
}

.grama {
    background-color: #7ac74c;
    background: linear-gradient(#98dd70, #35a744);
    background: -moz-linear-gradient(#98dd70, #35a744);
    background: -o-linear-gradient(#98dd70, #35a744);
    background: -webkit-linear-gradient(#98dd70, #35a744);
}

.veneno {
    background-color: #df67ddfb;
    background: linear-gradient(#e776e5fb, #9e3c59fb);
    background: -moz-linear-gradient(#e776e5fb, #9e3c59fb);
    background: -o-linear-gradient(#e776e5fb, #9e3c59fb);
    background: -webkit-linear-gradient(#e776e5fb, #9e3c59fb);
}

.fogo {
    background-color: #ee8130;
    background: linear-gradient(#f0e659, #ee7546);
    background: -moz-linear-gradient(#f0e659, #ee7546);
    background: -o-linear-gradient(#f0e659, #ee7546);
    background: -webkit-linear-gradient(#f0e659, #ee7546);
    
}

.agua {
    background-color: #6390f0;
    background: linear-gradient(#b9cbf3, #5f89e6);
    background: -moz-linear-gradient(#b9cbf3, #5f89e6);
    background: -o-linear-gradient(#b9cbf3, #5f89e6);
    background: -webkit-linear-gradient(#bbcdf3, #5f89e6);
}

.inseto {
    background-color: #8b991e;
    background: linear-gradient(#beca61, #62a05a);
    background: -moz-linear-gradient(#beca61, #62a05a);
    background: -o-linear-gradient(#beca61, #62a05a);
    background: -webkit-linear-gradient(#beca61, #62a05a);
}

.cartao-pokemon .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

/* ----------------- Tema escuro ----------------- */

body.modo-escuro {
    color: #f5f5f5;
}

.modo-escuro header {
    background-color: rgba(82, 81, 81, 0.36);
}

.modo-escuro main {
    background-color: rgba(0, 0, 0, 0.4);
}

.modo-escuro .cartao-pokemon {
    background-color: #8a8989;
    background: linear-gradient(#8a8989, #c2bfbf, #8a8989);
    background: -moz-linear-gradient(#8a8989, #c2bfbf, #8a8989);
    background: -o-linear-gradient(#8a8989, #c2bfbf, #8a8989);
    background: -webkit-linear-gradient(#8a8989, #c2bfbf, #8a8989);
}

.modo-escuro .cartao-pokemon .informacoes {
    background-color: #8a8989;
    background: linear-gradient(#9b9a9a, #6b6a6a, #b3b1b1);
    background: -moz-linear-gradient(#9b9a9a, #6b6a6a, #b3b1b1);
    background: -o-linear-gradient(#9b9a9a, #6b6a6a, #b3b1b1);
    background: -webkit-linear-gradient(#9b9a9a, #6b6a6a, #b3b1b1);
}

.modo-escuro .cartao-pokemon:hover {
    background-color:#a4b6f3;
    background: linear-gradient(#8b969b, #a4b6f3, #657c86);
    background: -moz-linear-gradient(#8b969b, #a4b6f3, #657c86);
    background: -o-linear-gradient(#8b969b, #a4b6f3, #657c86);
    background: -webkit-linear-gradient(#637983, #a4b6f3, #586c75);
}

.modo-escuro .cartao-pokemon:hover .informacoes {
    background-color:#8b969b;
    background: linear-gradient(#9eabd1, #767f83, #a8b6e4);
    background: -moz-linear-gradient(#9eabd1, #767f83, #a8b6e4);
    background: -o-linear-gradient(#9eabd1, #767f83, #a8b6e4);
    background: -webkit-linear-gradient(#9eabd1, #767f83, #a8b6e4);
}
